<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <form action="/index" method="POST"> 

        <label for="name"> Name</label>
        <input type="text" name="name" id="name"/> 

        <label for="img"> Image URL</label>
        <input type="text" name="img" id="img"/> 

        <p> Stats</p>

        <label for="statsHp"> hp</label>
        <input type="number" name="statsHp" id="statsHp"/> 
        <label for="statsAttack"> attack</label>
        <input type="number" name="statsAttack" id="statsAttack"/> 
        <label for="statsDefense"> defense</label>
        <input type="number" name="statsDefense" id="statsDefense"/> 
        <label for="statsSpattack"> spattack</label>
        <input type="number" name="statsSpattack" id="statsSpattack"/> 
        <label for="statsSpdefense"> SPdefense</label>
        <input type="number" name="statsSpdefense" id="statsSpdefense"/> 
        <label for="statsSpeed"> speed</label>
        <input type="number" name="statsSpeed" id="statsSpeed"/> 

        <p> Damages</p>
        <label for="dNormal"> Normal</label>
        <input type="number" name="dNormal" id="dNormal"/> 
        <label for="dFire"> Fire</label>
        <input type="number" name="dFire" id="dFire"/> 
        <label for="dWater"> Water</label>
        <input type="number" name="dWater" id="dWater"/> 
        <label for="dElectric"> Electgric</label>
        <input type="number" name="dElectric" id="dElectric"/> 
        <label for="dGrass"> Grass</label>
        <input type="number" name="dGrass" id="dGrass"/> 
        <label for="dIce"> Ice</label>
        <input type="number" name="dIce" id="dIce"/> 
        <label for="dFight"> Fight</label>
        <input type="number" name="dFight" id="dFight"/> 
        <label for="dPoison"> Poison</label>
        <input type="number" name="dPoison" id="dPoison"/> 
        <label for="gGround"> Ground</label>
        <input type="number" name="gGround" id="gGround"/> 
        


        <input type="submit" value="submit"> 

    </form>
    
</body>
</html>